{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
	<section id="main"><div class="inner">
		<h1>SMS Platform</h1>
		<h3>Recipient Phone Number</h3>

			<form action="/register" method="post">
				<label for="from_num">From:</label>
				<select name="from_num" id="from_num">
						<option value= "+19175254826"> SBM Twilio Number</option>
						<option value= "+19175258888"> Wrong Num 1</option>
						<option value= "+19175259999"> Wrong Num 2</option>	
				</select>
				<br>
				<label for="to_num">To:</label>
				<input type="text" id="to_num" name="to_num" value="+19144699732">
				<label for="sid">SID:</label>
				<input type="text" id="sid" name="sid">
				<label for="token">Token:</label>
				<input type="text" id="token" name="token">
				<label for="body_text">Message Body:</label>
				<input type="text" id="body_text" name="body_text" value="Type your message here.">
			
			<input type="submit" value="Submit Form">
			</form>
		
	</div></section>
{% endblock %}
