<!-- Main -->
			<section id="main">
				<div class="inner">
				
					<div class="12u$"><span class="image fit"><img src="images/pic11.jpg" alt="" /></span></div>
					

					<header>
						<h1>MuldoonAds Intranet</h1>
						<p class="table"><a href="#">Sean Muldoon</a></p>
					</header>		
				</div>
		
				<div class="inner">
						<h3>MuldoonAds Intranet - Sitemap</h3>
						
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Name</th>
										<th>&nbsp</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="/">SBM FlaskApp</a></td>
										<td>&nbsp-&nbsp</td>
										<td>Homepage</td>
									</tr>
									<tr>
										<td><a href="/index"> Index </a></td>
										<td>&nbsp-&nbsp</td>
										<td>Main HTML page (Empty Shell)</td>
									</tr>
									<tr>
										<td><a href="/base"> Base </a></td>
										<td>&nbsp-&nbsp</td>
										<td>Dynamic Content Blocks go here</td>
									</tr>
									<tr>
										<td><a href="/kanye"> Kanye </a></td>
										<td>&nbsp-&nbsp</td>
										<td>Kanye</td>
									</tr>
									<tr>
										<td><a href="http://muldoonadvertising.com">MuldoonAds</a></td>
										<td>&nbsp-&nbsp</td>
										<td>MuldoonAds Homepage</td>
									</tr>
								</tbody>
								<tfoot>
									<td></td>
									<td></td>
									<td></td>
								</tfoot>
							</table>
						</div>
					</div>
			</section>
